@page "/salas/edit/{salaId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Editar</h3>

<Form ButtonText="Atualizar" sala="sala" OnValidSubmit="@EditSala"></Form>

@code{
    [Parameter] public int salaId { get; set; }
    Sala sala = new Sala();

    protected async override Task OnParametersSetAsync()
    {
        sala = await http.GetFromJsonAsync<Sala>($"api/Salas/{salaId}");
    }

    async Task EditSala()
    {
        await http.PutAsJsonAsync("api/Salas", sala);
        await js.InvokeVoidAsync("alert", $"Atualizado com sucesso!");
        uriHelper.NavigateTo("Salas");
    }
}