<EditForm Model="@sala" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nº de poltronas</label>
        <div>
            <InputNumber @bind-Value="@sala.NumPoltrona"></InputNumber>
            <ValidationMessage For="@(() => sala.NumPoltrona)"></ValidationMessage>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @textoBotao
    </button>
</EditForm>


@code {
    [Parameter] public Sala sala { get; set; }
    [Parameter] public string textoBotao { get; set; } = "Salvar";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
