@page "/filme/create"
@inject IFilmeRepos filmesRepo
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>

@if (GenerosNaoSelecionados != null)
{
    <Form textoBotao="Cadastrar" filme="@filme" OnValidSubmit="@CriarFilme" GenerosNaoSelecionados="GenerosNaoSelecionados"></Form>
}

@code {
    Filme filme = new Filme();

    private List<Genero> GenerosNaoSelecionados;

    protected override async Task OnInitializedAsync()
    {
        GenerosNaoSelecionados = await http.GetFromJsonAsync<List<Genero>>("api/Generos");
    }

    async Task CriarFilme()
    {
        try
        {
            await filmesRepo.CriarFilme(filme);
            uriHelper.NavigateTo("Filmes");
        }
        catch (Exception)
        {

           
        }
    }
}
