@page "/funcionarios/edit/{funcionarioId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Editar</h3>

<Form ButtonText="Atualizar" func="func" OnValidSubmit="@EditFuncionario"/>

@code {
    [Parameter] public int funcionarioId { get; set; }
    Funcionario func= new Funcionario();
    protected async override Task OnParametersSetAsync()
    {
        func = await http.GetFromJsonAsync<Funcionario>($"api/funcionarios/{funcionarioId}");
    }
    async Task EditFuncionario()
    {
        await http.PutAsJsonAsync("api/funcionarios", func);
        await js.InvokeVoidAsync("alert", $"ATUALIZADO COM SUCESSO!");
        uriHelper.NavigateTo("funcionarios");
    }
}
